name: Python Sanity Check

on:
  workflow_dispatch:

jobs:
  python-test:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Check Python
        run: |
          python --version
          python - <<EOF
          print("Python is running fine")
          EOF
